/*.pasarela-pago-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.pasarela-pago-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.payment-form {
    width: 100%;
}

.payment-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.card-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
}

.payment-form button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.payment-form button:hover {
    background-color: #0056b3;
}

button.btn-pagar {
    max-width: 100px;
    margin-top: 20px;
    align-self: center;
}

.error {
    text-align: center;
    color: #fa755a;
    margin-top: 20px;
}
*/
.pasarela-pago-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.pasarela-pago-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.payment-form {
    width: 100%;
}

.payment-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

.card-input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.3s;
}

.card-input .StripeElement {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
}

.card-input .StripeElement--focus {
    border-color: #007bff;
}

.payment-form button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.payment-form button:hover {
    background-color: #0056b3;
}

button.btn-pagar {
    max-width: 100px;
    margin-top: 20px;
}

.error {
    text-align: center;
    color: #fa755a;
    margin-top: 20px;
}
