.reservar-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    background-color: #f0f4f8;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.carousel-container {
    flex: 1;
    max-width: 50%;
}

.calendar-container {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 1.6em;
}

.form-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-selector {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.time-selector select {
    padding: 10px;
    width: 100%;
    max-width: 200px;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.time-selector select:hover {
    border-color: #0056b3;
}

.btn-reservar {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-reservar:hover {
    background-color: #0056b3;
}

.occupied-day {
    background-color: #f2f2f2;
    color: #999;
    cursor: not-allowed;
}

.imgCarrusel {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.react-calendar {
    width: 100%;
    border: none;
    font-family: 'Arial, sans-serif';
    line-height: 1.125em;
}

.react-calendar__tile {
    background: #f8f9fa;
    color: #333;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.react-calendar__tile:hover {
    background: #e9ecef;
    border-color: #007bff;
}

.react-calendar__tile--active {
    background: #007bff;
    color: #fff;
    border-color: #0056b3;
}

.react-calendar__tile--active:hover {
    background: #0056b3;
}

.react-calendar__tile--now {
    background: #e9ecef;
    border-color: #007bff;
    color: #333;
}
